
.navbar_parent{
    top: 0;
    position: sticky;
    
}

.nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.search_container{
    display: flex;    
    justify-content: space-between;
}

.profile_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notification_icon{
    margin: 0px 0.8rem;
}

.search_bar div{
   border-radius: 25px;
   width: 45vw;
   padding-right: 0;
}

.search_icon_container{
    width: 5rem;
    border: none;
    border-left: 1px solid lightgrey;
    text-align: center;
    background-color: #F8F8F8;
    overflow: hidden;
    border-radius: 0 25px 25px 0;

}

.youtube_logo_style{
    width: 8rem;
    height: 29px;
}

.youtube_logo_style:hover{
    cursor: pointer;
}

.youtube_logo_container{
    display: flex;
    align-items: center;
}

.opener_icon_container{
    width: 70px;
    text-align: center;
}